@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Source+Sans+Pro:wght@300;400;700&family=Caesar+Dressing:wght@400&display=swap');

/*---------------------------- Body */

body {
    font-family: "Source Sans Pro", "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

/*---------------------------- Grouped font/layout/background imgs */

h1 {
    font-family: "Caesar Dressing", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
}

a {
    color: #c57f1e;
}

a:hover {
    color:#b36e07
}

.bg-img-def {
   height: 100%;
  
   background: url('../images/bg-images/bg-image-0.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   overflow: auto;
}

/*---------------------------- Buttons - inspired from my MS1 */

.btn--cta {
    border-radius: 15px;
    display: inline-block;
    margin: 2px;
    width: 110px;
    text-align: center;
}

.btn--abc {
    color: #2f3847;
    background-color: #c57f1e;
    border-color: #c57f1e;
}

.btn--abc:hover,
.btn--abc:active,
.btn--abc:focus,
.btn--abc:active:focus {
    color: #2f3847;
    background-color: #b36e07;
    border-color: #b36e07;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/*---------------------------- NavBar */

.navalert-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    display: block;
}

.navbar {
    background-color: #065471;
    background: rgba(6, 84, 113, 0.5);
    border: 0;
    width: 100%;
}

.nav-title {
    color: #ffc541;
    font-weight: bold;
    left: 40%;
    position: absolute;
}

/*---------------------------- Footer */

footer {
    background-color: #065471;
    background: rgba(6, 84, 113, 0.5);
    margin: 0;
    bottom: 0;
    padding-top: 4px;
    position: absolute;
    width: 100%;
    display: block;
}

.f-text {
    color: #2f3847;
    font-size: 20px;
    font-weight: bold;
    text-align: center;    
}

.s-links li a i {
    width: 8px;
    font-size: 20px;
    color: #2f3847;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.s-links li a i:hover {
    color: #c57f1e;
}

/*----------------------------  Contact / Instructions / Index Page */

.cont-form { 
    color: #ffffff;
    background: rgba(250, 250, 250, 0.7);
    border-color: #c57f1e;
    font-size: 18px;
    margin: 120px 0 80px 0;
}

.form-header {
    color: #2f3847;
}

.md-form, #instruc {
    color: #2f3847;
    text-align: left;
}

.input-field {
    width: 100%;
    padding: 10px;
}

/*----------------------------  Game Page */